[user]
    name = Simon Hermanns
    email = hermanns.simon@gmail.com

[includeIf "gitdir:~/projects/personal/"]
    path = ~/.gitconfig-github

[includeIf "gitdir:~/projects/fh/"]
    path = ~/.gitconfig-gitlab-fh

[includeIf "gitdir:~/projects/fz/"]
    path = ~/.gitconfig-gitlab-fz

[credential]
    helper = store

[core]
    autocrlf = input
    pager = delta

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
    required = true

[delta]
    navigate = true
    dark = true
    syntax-theme = "Catppuccin Mocha"

[merge]
    conflictstyle = zdiff3
