[core]
    autocrlf = input
    pager = delta

[delta]
    navigate = true
    dark = true
    syntax-theme = "Catppuccin Mocha"

[merge]
    conflictstyle = zdiff3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
