# Core dependencies
base-devel
git
neovim
tmux
curl
lazygit
zsh
fzf
kitty
zoxide
ninja
stow
ttf-jetbrains-mono-nerd
hyprland
wofi
waybar
ttf-font-awesome
swaync
hyprlock
hypridle
hyprpaper
nwg-look
xdg-desktop-portal-gtk
xdg-desktop-portal-hyprland


# AUR dependencies
hyprshot
catppuccin-gtk-theme-mocha
eww

# Misc
wl-clipboard
