$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

$flavor: $flamingo;

*{
    font-family: "JetBrains Mono Nerd Font";
    font-weight: bold;
    font-size: 16px;
}

.wallpaper-grid-container{
    border: solid 2px $flavor;
}

.edit-button,
.back-button,
.close-button {
    background: transparent;
    border: none;
    color: #ffffff;
}

.close-button{
    color: $red;
}

.edit-button{
    color: $flavor;
}

.back-button{
    color: $flavor;
}

.wallpaper-image {
    border-radius: 0;
    padding: 0;
}

.wallpaper-button {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    color: $flavor;
}

.wallpaper-row{
    padding: 0;
    margin: 0;
}

.flavor-button {
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
}

.flavor-button.selected {
  border: 3px solid #fff;
}

.flavor-button.flavor-blue {
    background: linear-gradient(135deg, $blue, darken($blue, 10%));
    box-shadow: 0 2px 4px darken($blue, 25%);
}

.flavor-button.flavor-flamingo {
    background: linear-gradient(135deg, $flamingo, darken($flamingo, 10%));
    box-shadow: 0 2px 4px darken($flamingo, 25%);
}

.flavor-button.flavor-green {
    background: linear-gradient(135deg, $green, darken($green, 10%));
    box-shadow: 0 2px 4px darken($green, 25%);
}

.flavor-button.flavor-lavender {
    background: linear-gradient(135deg, $lavender, darken($lavender, 10%));
    box-shadow: 0 2px 4px darken($lavender, 25%);
}

.flavor-button.flavor-maroon {
    background: linear-gradient(135deg, $maroon, darken($maroon, 10%));
    box-shadow: 0 2px 4px darken($maroon, 25%);
}

.flavor-button.flavor-mauve {
    background: linear-gradient(135deg, $mauve, darken($mauve, 10%));
    box-shadow: 0 2px 4px darken($mauve, 25%);
}

.flavor-button.flavor-peach {
    background: linear-gradient(135deg, $peach, darken($peach, 10%));
    box-shadow: 0 2px 4px darken($peach, 25%);
}

.flavor-button.flavor-pink {
    background: linear-gradient(135deg, $pink, darken($pink, 10%));
    box-shadow: 0 2px 4px darken($pink, 25%);
}

.flavor-button.flavor-red {
    background: linear-gradient(135deg, $red, darken($red, 10%));
    box-shadow: 0 2px 4px darken($red, 25%);
}

.flavor-button.flavor-rosewater {
    background: linear-gradient(135deg, $rosewater, darken($rosewater, 10%));
    box-shadow: 0 2px 4px darken($rosewater, 25%);
}

.flavor-button.flavor-sapphire {
    background: linear-gradient(135deg, $sapphire, darken($sapphire, 10%));
    box-shadow: 0 2px 4px darken($sapphire, 25%);
}

.flavor-button.flavor-sky {
    background: linear-gradient(135deg, $sky, darken($sky, 10%));
    box-shadow: 0 2px 4px darken($sky, 25%);
}

.flavor-button.flavor-teal {
    background: linear-gradient(135deg, $teal, darken($teal, 10%));
    box-shadow: 0 2px 4px darken($teal, 25%);
}

.flavor-button.flavor-yellow {
    background: linear-gradient(135deg, $yellow, darken($yellow, 10%));
    box-shadow: 0 2px 4px darken($yellow, 25%);
}
