$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

$flavor: $flamingo;

*{
    font-family: "JetBrains Mono Nerd Font";
    font-weight: bold;
    font-size: 16px;
}

.wallpaper-grid-container{
    border: solid 2px $flavor;
}

.edit-button,
.back-button,
.close-button {
    background: transparent;
    border: none;
    color: #ffffff;
}

.close-button{
    color: $red;
}

.edit-button{
    color: $flavor;
}

.back-button{
    color: $flavor;
}

.wallpaper-image {
    border-radius: 0;
    padding: 0;
}

.wallpaper-button {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    color: $flavor;
}

.wallpaper-row{
    padding: 0;
    margin: 0;
}

.flavor-button{
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
}

.flavor-button.flavor-blue{
    background-color: $blue;
}

.flavor-button.flavor-flamingo{
    background-color: $flamingo;
}

.flavor-button.flavor-green{
    background-color: $green;
}

.flavor-button.flavor-lavender{
    background-color: $lavender;
}

.flavor-button.flavor-maroon{
    background-color: $maroon;
}

.flavor-button.flavor-mauve{
    background-color: $mauve;
}

.flavor-button.flavor-peach{
    background-color: $peach;
}

.flavor-button.flavor-pink{
    background-color: $pink;
}

.flavor-button.flavor-red{
    background-color: $red;
}

.flavor-button.flavor-rosewater{
    background-color: $rosewater;
}

.flavor-button.flavor-sapphire{
    background-color: $sapphire;
}

.flavor-button.flavor-sky{
    background-color: $sky;
}

.flavor-button.flavor-teal{
    background-color: $teal;
}

.flavor-button.flavor-yellow{
    background-color: $yellow;
}
